* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin: 30px;
  flex-wrap: wrap;
}

header {
  margin-bottom: 60px;
}

header .menu {
  display: flex;
  gap: 220px;
}

header .menu li,
.small-screen-menu nav li {
  list-style: none;
  border: 2px solid black;
  padding: 10px 20px;
}

header .menu li:nth-child(1),
.small-screen-menu nav li:nth-child(1) {
  background-color: black;
}

header .menu li:nth-child(1) a,
.small-screen-menu nav li:nth-child(1) a {
  color: white;
}

header .menu li a,
.small-screen-menu nav li a {
  text-decoration: none;
  font-size: 1.25rem;
  color: black;
}

#bar {
  display: none;
  position: absolute;
  left: 20px;
  font-size: 2.25rem;
}

.small-screen-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(229, 243, 255);
  padding: 20px;
  width: 300px;
  height: 100%;
}

.small-screen-menu #x {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.25rem;
}

.small-screen-menu nav li {
  margin-bottom: 30px;
  width: 160px;
}

@media (max-width: 1092px) {
  header .menu {
    gap: 180px;
  }
}

@media (max-width: 900px) {
  header .menu {
    gap: 140px;
  }
}

@media (max-width: 749px) {
  header .menu {
    display: none;
  }
  #bar {
    display: block;
  }
}

.quiz {
  box-shadow: 0 0 0 5px rgb(114, 99, 99);
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  height: 250px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: 0.7s;
  color: rgb(114, 99, 99);
}

.quiz img {
  object-fit: cover;
  box-shadow: 0 0 0 5px rgb(114, 99, 99);
  border-radius: 10px;
  width: 100%;
  height: 187px;
  margin-bottom: 20px;
}

.quiz:nth-child(2),
.quiz:nth-child(2) img {
  box-shadow: 0 0 0 5px hsl(38, 100%, 57%);
  color: hsl(38, 100%, 57%);
}

.quiz:nth-child(3),
.quiz:nth-child(3) img {
  box-shadow: 0 0 0 5px #1d6cff;
  color: #1d6cff;
}

.quiz:nth-child(4),
.quiz:nth-child(4) img {
  box-shadow: 0 0 0 5px #29dfff;
  color: #29dfff;
}

.quiz:nth-child(5),
.quiz:nth-child(5) img {
  box-shadow: 0 0 0 5px #ff2ed5;
  color: #ff2ed5;
}

.quiz:nth-child(6),
.quiz:nth-child(6) img {
  box-shadow: 0 0 0 5px #020002;
  color: #020002;
}

.quiz:nth-child(1):hover {
  background-color: rgb(114, 99, 99);
  color: white;
}

.quiz:nth-child(2):hover {
  background-color: hsl(38, 100%, 57%);
  color: white;
}

.quiz:nth-child(3):hover {
  background-color: #1d6cff;
  color: white;
}

.quiz:nth-child(4):hover {
  background-color: #29dfff;
  color: white;
}

.quiz:nth-child(5):hover {
  background-color: #ff2ed5;
  color: white;
}

.quiz:nth-child(6):hover {
  background-color: black;
  color: white;
}

.quiz:nth-child(6):hover img {
  filter: invert(1);
}
